.image-block {
    display: flex;
    width: -webkit-fill-available;
    justify-content: space-around;
    padding: 0 calc(var(--default-padding)*3);
    gap: 20px;
    font-size: 120%;
    div{
        width: -webkit-fill-available;
        height: 400px;
    }

    .dropzone-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--default-gap);
        border-radius: 5px;
        border: 2px dashed var(--half-white-shadow);
        margin: var(--default-margin) 0;
        background-color: var(--default-white);

        svg {
            fill: var(--neutral);
            width: 50px;
        }

        span {
            cursor: default;
            color: var(--neutral);
        }

        #upload-file-input {
            display: none;
        }

        &.dragging{
            border: 2px dashed var(--half-black);
        }
    }

    .cover-block {
        margin: var(--default-margin) 0;

        .cover-image {
            display: flex;
            justify-content: flex-end;

            .close-btn {
                margin: var(--negative-margin);
                position: absolute;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--default-white);
                border: 1px solid var(--default-white);
                border-radius: var(--round-border);
            }

            .close-btn:hover {
                scale: 1.2;
                border: 1px solid var(--neutral);
            }
        }

        svg {
            fill: var(--half-black);
            width: 40px;
        }
    }

    .cover {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 400px;
        gap: calc(var(--default-gap)*2);
        border-radius: 5px;
        border: 2px solid transparent;
        object-fit: cover;
    }

    .no-cover-preview:hover,
    .loading-cover-preview:hover {
        border: 2px solid var(--half-black);
    }

    .error-cover {
        border: 2px solid var(--error-color);
        color: var(--error-color);
        text-align: center;

        svg {
            fill: var(--error-color);
            width: 25px;
        }

        .close-btn {
            display: flex;
            align-items: center;
            border: 1px solid transparent;

            &:hover {
                border: 1px solid var(--error-color);
                box-shadow: var(--shadow-mini);
            }
        }
    }

}

@media only screen and (max-width: 1140px) {
    /* For small screen devices: */
    .image-block {
        padding: 0 calc(var(--default-padding)*2);
        // gap: 10px;
        // font-size: 100%;
        div{
            width: 50%;
            height: 50%;
            max-height: 450px;
        }

        .dropzone-block {
            aspect-ratio: 1;
            width: inherit;
        }

        .cover-block{
            display: flex;
            justify-content: center;
            aspect-ratio: 1;
            width: inherit;
            .cover {
                width: 100%;
                height: 100%;
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    /* For small screen devices: */
    .image-block {
        flex-direction: column;
        gap: 0px;

        div{
            width: 100%;
            height: 100%;
            max-height: 100%;
        }

    }
}