.content-addition {
    display: grid;
    width: -webkit-fill-available;
    grid-template-columns: 1fr 1fr;
    gap: 10px 15px;
    margin: var(--default-margin) 0;
    padding: 0 calc(var(--default-padding)*3);

    .single-part {
        grid-auto-columns: 1fr;
    }

    .double-part {
        grid-column: 1/3;
    }

    .input-block {
        display: flex;
        flex-direction: column;
    }

    .input-block span {
        margin-left: 5px;
        margin-bottom: 5px;
    }
}

.record-data-block{
    width: 100%;
}