.add-record-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    overflow-y: overlay;
    background-color: var(--half-white);
    font-weight: 600;
    width: 550px;

    .carousel {
        width: 100%;
        height: 100%;
        display: flex;
        overflow: hidden;
        position: relative;

        .carousel-track {
            display: flex;
            gap: 50px;
            transform: translateX(0px);
            transition: transform 0.5s ease-in-out;
            height: 100%;

            .carousel-item {
                opacity: 0;
                transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                width: 550px;
                overflow-y: scroll;

                &.active {
                    opacity: 1;
                }

                &>div {
                    width: 550px;
                }
            }
        }
    }

    .carousel-controls {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        width: 100%;

        .carousel-control {
            width: 100px;
        }
    }

    .header {
        margin: var(--default-margin);
    }

    .splitting-line {
        margin: 3px 0;
        width: -webkit-fill-available;
        opacity: 0.8;
        border: 1px solid var(--half-black);
        border-radius: 5px;
        margin: 0 calc(var(--default-padding)*2);
    }

    &.loading {
        .record-data-block {
            opacity: 0.3;
            pointer-events: none;
        }

        .loading-foreground {
            bottom: 50%;
            width: 40px;
            position: absolute;
            fill: var(--default-black);
        }
    }
}

.upload-btn {
    margin-top: 10px;
    border: 1px solid var(--neutral);
    color: var(--neutral);

    &:hover {
        box-shadow: var(--shadow-mini);
    }
}

.form-btn-block {
    width: -webkit-fill-available;
    padding: 0 calc(var(--default-padding)*2);
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .form-change {
        display: flex;
        justify-content: flex-end;
    }

    .btn {
        padding: var(--mini-padding) var(--default-padding);
        margin: var(--default-margin) 0;
        font-size: 1rem;
    }

    .btn:hover {
        transform: translateY(-2px) !important;
    }

    .btn:active {
        transform: translateY(0px) !important;
    }

    .reset-btn {
        background-color: var(--default-white);
        border: 1px solid var(--half-white-shadow);
        color: var(--neutral);

        &:active {
            border: 1px solid var(--half-black);
            color: var(--neutral);
        }
    }

    .submit-btn {
        background-color: var(--accent-color);
        border: 1px solid var(--onhover-color);
        color: var(--onhover-color);
    }
}