.mini-player-wrapper {
    .mini-player-preview {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/solid-color-image.png);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        &:hover {
            .song-cover {
                img {
                    scale: 1.02;
                }
            }
        }

        .song-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            color: white;

            img {
                width: max-content;
                min-width: 100%;
                height: max-content;
                transition: 0.4s;
            }
        }

        .player-controls {
            background-color: rgba(0, 0, 0, 0.1);
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            opacity: 0;

            &:hover {
                opacity: 1;
            }

            .cancel-track {
                height: 20%;
            }

            .song-play {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;

                svg {
                    opacity: 0.8;
                    fill: var(--invertedColor);

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }

                    &:active {
                        scale: 1;
                    }
                }
            }

            .song-track {
                position: absolute;
                width: 100%;
                height: 20%;
                bottom: 0;
            }

            .volume-track {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60%;
                padding: 0 15%;
                position: relative;
                transform: translateX(220px);
                animation: 0.3s forwards volume-disappear;

                &:hover {
                    animation: 0.3s forwards volume-appear;
                }

                @keyframes volume-appear {
                    from {
                        transform: translateX(220px);
                    }

                    to {
                        transform: translateX(170px);
                    }
                }
                
                @keyframes volume-disappear {
                    from {
                        transform: translateX(170px);
                    }

                    to {
                        transform: translateX(220px);
                    }
                }
            }

            .volume-range {
                writing-mode: vertical-lr;
                direction: rtl;
                width: 16px;
                vertical-align: bottom;
                height: 100%;
            }

            .delete-audiofile{
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 0;
                right: 0;
                width: 18px;
                height: 18px;
                margin: 14px;
                background-color: transparent;
                cursor: pointer;

                &:hover{
                    svg{opacity: 0.8;scale: 1.1;}
                }
                &:active{
                    svg{opacity: 1;scale: 1;}
                }
                svg{
                    fill: var(--invertedColor);
                    opacity: 0.5;
                }

            }
        }
    }

    audio {
        display: none;
    }
}

.mini-player-current {
    border-radius: var(--default-border);
    background-color: var(--quarter-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}