.mini-player-wrapper {
    .mini-player-preview {
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(../img/solid-color-image.png);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        overflow: hidden;

        &:hover {
            .song-cover {
                img {
                    width: 103%;
                }
            }
        }

        .song-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 2;
            color: white;

            img {
                width: 100%;
                height: fit-content;
                transition: 0.4s;
            }
        }

        .player-controls {
            background-color: rgba(0, 0, 0, 0.1);
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 2;
            opacity: 0;

            &:hover {
                opacity: 1;

                .song-track {
                    opacity: 0.8;
                    transform: translateY(0px);
                }
            }

            .cancel-track {
                height: 20%;
            }

            .song-play {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 70px;
                height: 70px;

                svg {
                    opacity: 0.8;
                    fill: var(--invertedColor);

                    &:hover {
                        opacity: 0.9;
                        cursor: pointer;
                    }

                    &:active {
                        scale: 1;
                    }
                }
            }

            .song-track {
                position: absolute;
                width: 100%;
                height: 20%;
                bottom: 0;
            }

            .volume-track {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60%;
                width: 100px;
                padding: 10% 0;
                position: relative;
                transform: translateX(220px);
                animation: 0.3s forwards volume-disappear;

                &:hover {
                    animation: 0.3s forwards volume-appear;
                }

                @keyframes volume-appear {
                    from {
                        transform: translateX(220px);
                    }

                    to {
                        transform: translateX(170px);
                    }
                }
                
                @keyframes volume-disappear {
                    from {
                        transform: translateX(170px);
                    }

                    to {
                        transform: translateX(220px);
                    }
                }
            }

            .volume-range {
                writing-mode: vertical-lr;
                direction: rtl;
                appearance: slider-vertical;
                width: 16px;
                vertical-align: bottom;
                // /* Bottom to top, for vertical orientation */
                // -webkit-appearance: none;
                // /* Remove default styling */
                // appearance: none;
                height: 100%;
                // /* Fill the height of the container */
                // width: 6px;
                // /* Adjust the track width */
                // background: linear-gradient(to top, #ff5733 0%, #333 100%);
                // border-radius: 5px;
                // outline: none;
                // cursor: pointer;
            }

            // .volume-range::-webkit-slider-thumb {
            //     -webkit-appearance: none;
            //     appearance: none;
            //     width: 12px;
            //     height: 12px;
            //     background: #ff5733;
            //     border-radius: 50%;
            //     cursor: pointer;
            //     position: relative;
            // }

            // .volume-range::-moz-range-thumb {
            //     width: 12px;
            //     height: 12px;
            //     background: #ff5733;
            //     border-radius: 50%;
            //     cursor: pointer;
            // }

            // .volume-range::-ms-thumb {
            //     width: 12px;
            //     height: 12px;
            //     background: #ff5733;
            //     border-radius: 50%;
            //     cursor: pointer;
            // }

        }
    }

    audio {
        display: none;
    }
}

.mini-player-current {
    border-radius: var(--default-border);
    background-color: var(--quarter-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}