.modal{
    z-index: 10;
    padding: var(--mini-padding);
    margin-top: -2%;
    left: 65px;
    background-color: var(--default-white);
    box-shadow: var(--shadow-mini);

    -webkit-animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}