.message-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    animation: slide-down 0.4s;

    .message-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background-color: var(--default-white);
        border-radius: var(--default-border);
        border: 2px solid var(--half-black);

        &.red{
            color: var(--error-color);
            border: 2px solid var(--error-color);
            .splitting-line{
                border: 1px solid var(--error-color);
            }
            svg{
                fill: var(--error-color);
            }
        }

        div{
            padding: var(--default-padding);
        }

        .text-content{
            span{
                font-weight: 600;
            }
        }

        .close-message{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            cursor: pointer;
            aspect-ratio: 1/1;

            svg{
                fill: var(--half-black);
            }
        }

        .close-message:hover{
            background-color: var(--half-black);

            svg{
                fill: var(--default-white);
                &:active{
                    scale: 0.9;
                }
            }
        }

        .splitting-line{
            height: 100%;
            width: 0px;
            border: 1px solid var(--half-black);
        }
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}