.message-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2%;
    animation: slide-down 0.4s;

    .message-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        color: rgb(156, 109, 28);
        background-color: rgb(255, 229, 184);
        border-radius: var(--default-border);
        border: 2px solid rgb(212, 170, 96);
        padding: 0 calc(var(--default-padding)/2);


        &.error,&.error-fetch,&.error-data{
            color: rgb(156, 28, 28);
            background-color: rgb(255, 226, 219);
            border: 2px solid rgb(255, 181, 171);
            svg{
                fill: rgb(156, 28, 28) !important;
            }
        }

        &.success{
            color: rgb(58, 156, 28);
            background-color: rgb(229, 255, 219);
            border: 2px solid rgb(175, 218, 164);
            svg{
                fill: rgb(39, 156, 28) !important;
            }
        }

        div{
            padding: var(--default-padding);
        }

        .text-content{
            span{
                font-weight: 600;
            }
        }

        .close-message{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            cursor: pointer;
            aspect-ratio: 1/1;

            svg{
                fill: rgb(156, 109, 28);
                &:hover{
                    scale: 1.2;
                }
            }
        }
    }
}

@keyframes slide-down {
    from {
        transform: translateY(-50px);
    }

    to {
        transform: translateY(0px);
    }
}